@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #178588;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c1dddd;
    border-radius: 10px;
}
.box_title{
        width: 600px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b8cfcf;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}
.box_title h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
}
input[type="text"], input[type="password"]{
    width: 400px;
    height: 30px;
    margin-top: 15px;
}


