*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1512px;
    height: 982px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.cards{
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    margin-top: 270px;
    background: rgba(217, 217, 217, 0.30);
}