*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 200vh;
    background: #eae7e7;
    color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
header {
    width: 95vw;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #2929dd;
    margin-top: 20px;
}
main{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;


}
.box{
    background-color: #3a3aa3;
    width: 31%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
address{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #2929dd;
    margin-top: 10px;
}