*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

}
.section1, .section2{
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #090909;
}
.section1{
    background-color: #bc9a9a;
    color: black;
 }
 .section2{
     background-color: #171616;
     color: white;
 }
 h2{
     font-size: 3rem;
     padding-bottom: 51px;
 }
 p{
     font-size: 20px;
 }